
<ion-content class="ion-padding">

  <div class="ios-pwa">

    <img src="/assets/icon/ios/icon.png" alt="Covid19Tracker App Icon" class="ios-pwa__logo">

    <h3 class="ios-pwa__title">
      Install 
      <span class="text-bold">Covid19Tracker</span>
    </h3>

    <ion-text color="medium">
      <p class="ios-pwa__text">
        Install this application on your home screen for quick and easy access when you're on the go.
      </p>
    </ion-text>  

  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title size="small" class="ion-padding-vertical">
      <h6>
        Just tap <ion-icon name="share-outline"></ion-icon> and then <br>
        'Add to Home Screen'
      </h6>
    </ion-title>
  </ion-toolbar>
</ion-footer>