ion-note {
    font-family: 'Manrope-Bold' !important;
    font-size: 1.8rem;
}

ion-list,
ion-item {
    background: transparent;
    --background: transparent;
}

ion-card {
    margin: 8px;
}

span.flag-icon {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    object-fit: cover;
}