<ion-card class="ion-activatable ripple-parent" (click)="emitDetails()">

  <ion-ripple-effect></ion-ripple-effect>

  <ion-card-header>
    <ion-card-subtitle>
      Updated <span class="text-semibold">{{ countryStatus?.updatedAt | dateAgo }}</span>
    </ion-card-subtitle> 
    <ion-card-title>{{ countryStatus?.country.name }}</ion-card-title> <!--  -->
    <span [ngClass]="'flag-icon flag-icon-squared flag-icon-' + countryStatus?.country?.code?.toLowerCase()"></span>
  </ion-card-header>

  <ion-card-content>

    <!-- <ion-segment>
      <ion-segment-button value="friends">
        <ion-label>Today</ion-label>
      </ion-segment-button>
      <ion-segment-button value="enemies">
        <ion-label>Total</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-list class="ion-padding-top">

      <ion-item>
        <ion-icon slot="start" name="medkit-outline"></ion-icon>
        <ion-label>Confirmed</ion-label>
        <ion-note slot="end" mode="ios">12345</ion-note>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="shield-checkmark-outline"></ion-icon>
        <ion-label>Recovered</ion-label>
        <ion-note slot="end" mode="ios">312566</ion-note>
      </ion-item>

      <ion-item>
        <ion-icon slot="start" name="people-outline"></ion-icon>
        <ion-label>Deaths</ion-label>
        <ion-note slot="end" mode="ios">12345</ion-note>
      </ion-item>

    </ion-list> -->

  </ion-card-content>

</ion-card>