*,
*::after,
*::before {
    outline: none;
}

body {
    height: 100%;
    width: 100%;
    box-sizing: border-box !important;

    // IOS tricks for PWA
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;

    // MAKE TEXT SELECTABLE
    -webkit-user-select: text;
    user-select: text;
}

// HIGHLIGHT TEXT
p::-moz-selection { color: var(--ion-color-light) }
p::selection { color: var(--ion-color-light) }

::-moz-selection { background: var(--ion-color-primary) }
::selection { background: var(--ion-color-primary) }

::-webkit-scrollbar {
    display: none !important;
}