<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <span class="text-light">COVID19</span>
      <span class="text-bold">TRACKER</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid class="ion-padding">
    <ion-row class="ion-align-items-center">
      <ion-col size-lg="6" size-md="6" size-sm="12" size-xs="12" class="ion-align-items-end">
        <div>
          <ion-text>
            <h2 class="about-tile text-bold ion-margin-bottom">About this project</h2>
          </ion-text>
          <ion-text color="medium ion-margin-bottom">
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
              Illum deleniti autem impedit. 
            </p>
          </ion-text>
          <img src="/assets/img/covid__project.svg" alt="Project Illustration" class="about-illustration ion-margin-top">
        </div>
      </ion-col>
      <ion-col size-lg="6" size-md="6" size-sm="12" size-xs="12" class="ion-margin-bottom">
        <ion-card mode="ios" class="ion-margin-bottom">
          <ion-card-header>
            <ion-card-subtitle>Covid-19 trusted information</ion-card-subtitle>
            <ion-text color="primary">
              <h4 class="text-semibold ion-margin-bottom">Data sources</h4>
            </ion-text>
          </ion-card-header>
          <ion-card-content>
            <p>The WHO is providing a situation report once a day with critical information about the COVID-2019 case.</p>
            <ion-item class="ion-no-padding ion-margin-top">
              <ion-button href="https://about-corona.net/" target="_blank" rel="noopener" color="primary" fill="clear" slot="end">See about-corona API</ion-button>
            </ion-item>
          </ion-card-content>
        </ion-card>
        <h6>
          Designed with ☕️ by 
          <a href="https://acolinucci.com/" target="_blank" rel="noopener" class="text-bold" style="text-decoration: none;">acolinucci</a>
        </h6>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
