
ion-grid {

    width: 100%;
    height: 100%;
    max-width: 992px;
    margin: auto;

    ion-row {

        width: 100%;
        height: 100%;

        ion-card {

            margin: 1.6rem 0;

            &-title {
                font-size: 2.3rem;
            }
        }

        .about-title {
            max-width: 300px;
            line-height: 1.2;
        }

        .about-illustration {
            width: 85%;
            max-width: 500px;
            display: block;
            margin: 32px auto;
        }
    }
}

@media screen and (max-width: 768px) {
    ion-grid {
        max-width: 600px;
        text-align: center;
    }
}