
ion-content {

    .menu-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    ion-item {
        --background: transparent;
        background: transparent;
    }
}