<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="title-container">
        <span class="text-light">COVID19</span>
        <span class="text-bold">TRACKER</span> 
        <img width="33" height="33" src="/assets/img/covid__logo.svg" alt="Covid19 Tracker Logo">  
      </div>    
    </ion-title>
    <ion-buttons slot="primary">      
      <ion-button>
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <!-- GLOBAL STATUS -->
    <ion-row *ngIf="todayStatus">
      <ion-col size-xl="3" size-lg="6" size-md="6" size-sm="12" size-xs="12">
        <ion-card mode="ios">
          <ion-card-header>
            <ion-card-subtitle>Infected</ion-card-subtitle>
            <ion-card-title>{{ todayStatus?.confirmed | number }}</ion-card-title>
            <ion-icon name="medkit-outline" color="tertiary" class="card-icon"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <ion-label>
              <p class="ion-text-wrap"><span class="text-bold">+{{ todayStatus?.newConfirmed | number }}</span> today</p>
            </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-xl="3" size-lg="6" size-md="6" size-sm="12" size-xs="12">
        <ion-card mode="ios">
          <ion-card-header>
            <ion-card-subtitle>Recovered</ion-card-subtitle>
            <ion-card-title>{{ todayStatus.recovered | number }}</ion-card-title>
            <ion-icon name="shield-checkmark-outline" color="success" class="card-icon"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <ion-label>
              <p class="ion-text-wrap"><span class="text-bold">+{{ todayStatus.newRecovered | number }}</span> today</p>
            </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-xl="3" size-lg="6" size-md="6" size-sm="12" size-xs="12">
        <ion-card mode="ios">
          <ion-card-header>
            <ion-card-subtitle>Deaths</ion-card-subtitle>
            <ion-card-title>{{ todayStatus.deaths | number }}</ion-card-title>
            <ion-icon name="bed-outline" color="danger" class="card-icon"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <ion-label>
              <p class="ion-text-wrap"><span class="text-bold">+{{ todayStatus?.newDeaths | number }}</span> today</p>
            </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-xl="3" size-lg="6" size-md="6" size-sm="12" size-xs="12">
        <ion-card mode="ios">
          <ion-card-header>
            <ion-card-subtitle>Active</ion-card-subtitle>
            <ion-card-title>{{ todayStatus.active | number }}</ion-card-title>
            <ion-icon name="people-outline" color="warning" class="card-icon"></ion-icon>
          </ion-card-header>
          <ion-card-content>
            <ion-label *ngIf="countriesStatus">
              <p class="ion-text-wrap"><span class="text-bold">{{ countriesStatus?.length }}</span> involved countries</p>
            </ion-label>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- STATISTICS -->
    <ion-row>
      <ion-col size-lg="6" size-md="6" size-sm="12" size-xs="12">
        <ion-card mode="ios">
          <ion-card-header>
            <ion-card-subtitle>Recovery Ratio</ion-card-subtitle>
            <ion-card-title>{{ recoveryRatio }}<span class="percentage">%</span></ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-label>
              <p class="ion-text-wrap"><span class="text-bold">{{ todayStatus?.confirmed | number }}</span> infected</p>
              <p class="ion-text-wrap"><span class="text-bold">{{ todayStatus?.recovered | number }}</span> recovered</p>
            </ion-label>
          </ion-card-content>
          <circle-progress 
            [percent]="recoveryRatio" 
            [radius]="50"
            [title]="recoveryRatio"
            [titleFontSize]="14"
            [titleFontWeight]="700"
            [titleColor]="'var(--ion-color-dark)'"
            [showSubtitle]="false"
            [showUnits]="false"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="4"
            [outerStrokeColor]="'var(--ion-color-primary)'"
            [innerStrokeColor]="'var(--ion-color-secondary)'"
            [animation]="true"
            [animationDuration]="500"
        ></circle-progress>
        </ion-card>
      </ion-col>
      <ion-col size-lg="6" size-md="6" size-sm="12" size-xs="12">
        <ion-card mode="ios">
          <ion-card-header>
            <ion-card-subtitle>Death ratio</ion-card-subtitle>
            <ion-card-title>{{ deathRatio }}<span class="percentage">%</span></ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-label>
              <p class="ion-text-wrap"><span class="text-bold">{{ todayStatus?.confirmed | number }}</span> infected</p>
              <p class="ion-text-wrap"><span class="text-bold">{{ todayStatus?.deaths | number }}</span> deaths</p>
            </ion-label>
          </ion-card-content>
          <circle-progress 
              [percent]="deathRatio" 
              [radius]="50"
              [title]="deathRatio"
              [titleFontSize]="14"
              [titleFontWeight]="700"
              [titleColor]="'var(--ion-color-dark)'"
              [showSubtitle]="false"
              [showUnits]="false"
              [outerStrokeWidth]="8"
              [innerStrokeWidth]="4"
              [outerStrokeColor]="'var(--ion-color-primary)'"
              [innerStrokeColor]="'var(--ion-color-secondary)'"
              [animation]="true"
              [animationDuration]="500"
          ></circle-progress>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- TOP 10 COUNTRIES -->
    <ion-row>
      <ion-col>
        <ion-card mode="ios">
          <ion-card-header>
            <ion-card-subtitle *ngIf="countriesStatus">Updated {{ countriesStatus[0]?.updatedAt | dateAgo }}</ion-card-subtitle>
            <ion-card-title>Top 10 countries</ion-card-title>
          </ion-card-header>
          <ion-card-content *ngIf="countriesStatus">
            <ion-item *ngFor="let countryStatus of countriesStatus | slice:0:10" class="ion-no-padding ion-activatable" tappable detail (click)="goToDetail(countryStatus.country)">
              <ion-ripple-effect></ion-ripple-effect>
              <ion-avatar>
                <span [ngClass]="'flag-icon flag-icon-' + countryStatus?.country?.code?.toLowerCase()"></span>
              </ion-avatar>
              <ion-label>
                <h2 class="text-semibold">{{ countryStatus?.country?.name }}</h2>
                <ion-text color="success">
                  <p class="ion-text-wrap">{{ countryStatus?.recovered | number }} recovered</p>
                </ion-text>
              </ion-label>
              <ion-label slot="end" class="ion-text-right country-cases">
                <h2 class="text-bold">{{ countryStatus?.confirmed | number }}</h2>
              </ion-label>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- CONTRIBUTE CARDS -->
    <ion-row>
      <ion-col>
        <ion-card mode="ios">
          <ion-card-header>
            <ion-card-title>News</ion-card-title>  
            <img src="/assets/img/covid__news.svg" alt="Covid19 News" class="illustration">
          </ion-card-header>
          <ion-card-content>
            <ion-item class="ion-margin-top ion-no-padding">
              <ion-icon color="primary" name="newspaper-outline" slot="start"></ion-icon>
              <ion-button href="https://medium.com/topic/coronavirus" target="_blank" color="primary" fill="clear" slot="end"><span class="text-bold">Read more on Medium</span></ion-button>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card mode="ios">
          <ion-card-header>
            <ion-card-title>Symptoms</ion-card-title>  
            <img src="/assets/img/covid__symptoms.svg" alt="Covid19 Symptoms" class="illustration">
          </ion-card-header>
          <ion-card-content>
            <ion-item class="ion-margin-top ion-no-padding">
              <ion-icon color="secondary" name="document-text-outline" slot="start"></ion-icon>
              <ion-button href="/assets/doc/COVID19-symptoms.pdf" download color="secondary" fill="clear" slot="end"><span class="text-bold">Read the symptoms</span></ion-button>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card mode="ios">
          <ion-card-header>
            <ion-card-title>Donate</ion-card-title>
            <img src="/assets/img/covid__donate.svg" alt="Covid19 News" class="illustration">
          </ion-card-header>
          <ion-card-content>
            <ion-item class="ion-margin-top ion-no-padding">
              <ion-icon color="tertiary" name="wallet-outline" slot="start"></ion-icon>
              <ion-button href="https://covid19responsefund.org/" target="_blank" color="tertiary" fill="clear" slot="end"><span class="text-bold">Help fight Covid-19</span></ion-button>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>
    
</ion-content>
