<ion-header>
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Global Status</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ globalStatus?.cases }}
    </ion-card-content>
  </ion-card>

  <!-- <div *ngIf="!globalStatus">
    <div class="ion-padding custom-skeleton">
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    </div>
  </div> -->

  <app-country-card *ngFor="let countryStatus of countriesStatus" [countryStatus]="countryStatus"></app-country-card>
</ion-content>
